<div id="clock" data-controller="clock" class="flex flex-col items-center justify-center h-screen bg-black text-center">
  <div class="p-6">
    <h1 data-clock-target="time" class="digital-clock mb-4">
      <%= Time.current.strftime("%H:%M:%S") %>
    </h1>
    <h3 class="text-green-500 text-xl">
      <%= Time.current.strftime("%B, %d, %Y") %>
    </h3>
  </div>
</div>
